// dropdown menue
.dropdown__ {
  position: relative;

  @include xxs {
    height: 49px;
  }

  > a,
  .butt__ {
    position: relative;
    display: flex !important;
    align-items: center;
    margin: 0 !important;
    color: $headingMainColor;
    font-size: 14px;

    @include sm {
      color: #fff;

      &:hover {
        color: $orangeColor !important;
      }
    }

    @include xxs {
      width: 100%;
    }

    .icon__ {
      max-height: 24px;
      max-width: 24px;
      margin-inline-end: 15px;

      @include sm {
        filter: brightness(0) invert(1);
      }
    }

    &::after {
      content: url(../images/shapes/arrow-circle-down.svg);
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      border: none !important;
      margin-inline-start: 6px;
      height: 18px;
      
      @include sm {
        filter: brightness(0) invert(1);
      }

      @include xxs {
        margin-inline-start: auto !important;
      }
    }

    &:hover {
      text-decoration: none;
      color: $primaryColor;

      .icon__{
        filter: brightness(0) saturate(1) invert(0.16) sepia(0.53) saturate(38.40) hue-rotate(251deg) brightness(1.14) contrast(1.14);

        @include sm {
          filter: brightness(0) saturate(1) invert(0.66) sepia(0.28) saturate(28.67) hue-rotate(350deg) brightness(0.90) contrast(0.90);
        }
      }
    }
  }

  .sub-menu__ {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    display: table;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #fff;
    z-index: -1;
    width: 141px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 0;
    border: none;
    transform-origin: center 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 12px 0;
    border-radius: 0;
    transform: translateX(-50%);

    @include sm {
      min-width: 152px;
    }

    li {
      &:not(:last-child) {
        border-bottom: 1px solid $borderColor;
      }

      a {
        font-size: 12px;
        font-weight: 500;
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.5s;
        color: $paragraphMainColor;
        padding: 10px 17px;
        display: flex;
        align-items: center;
        transition: 0.5s;

        &::before {
          margin-inline-end: 10px;
        }

        &:hover {
          text-decoration: underline;
        }

        &.modify {
          &::before {
            content: url(../images/header_logedIn_menu/user.svg);
          }
        }

        &.orders {
          &::before {
            content: url(../images/header_logedIn_menu/document.svg);
          }
        }

        &.wallet {
          &::before {
            content: url(../images/header_logedIn_menu/wallet.svg);
          }
        }

        &.signout_link__ {
          color: #fe005d;

          &::before {
            content: url(../images/header_logedIn_menu/logout.svg);
          }
        }

        &.notifications_block__ {
          .badge {
            margin-inline-start: auto;
            border-radius: 50%;
            color: #fff;
            background-color: $mainRedColor;
            width: 18px;
            height: 18px;
            overflow: hidden;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
          }
        }
      }
    }
  }

  &:hover {
    .sub-menu__ {
      visibility: visible;
      opacity: 1;
      z-index: 111;
    }
  }
}
