// main colors
$primaryColor: #5622C8;
$secondaryColor: #3ec2cf;
$borderColor: #E6E6E6;
$placeholderColor: #7C7C7C;
$greyColor: #C3C3C3;
$secondGreyColor: #F9F9F9;
$mainRedColor: #f54748;
$redColor: #EA0248;
$orangeColor: #DA871B;
$shadowColor: #acacac;


// head colors
$headingMainColor: #0D2948;
$headingSecondaryColor: #333743;
$headingThirdColor: #2a2929;


//parag Colors
$paragraphMainColor: #70749c;
$paragraphSecondaryColor: #767676;

//brand Colors
$twitterColor: #2abdf4;
$facebookColor: #4979ba;
$linkedinColor: #2279ef;

//border radius
$mainBorderRadius: 10px;
$secondaryBorderRadius: 20px;


$mainBackgroundColor: #FAFAFA;

$dir: "ltr";
